
/* 
,---.                         |        ,--. o          |              
|  _.,---.,---.,---.,---.,---.|        |   |.,---.,---.|    ,---.,   .
|   ||---'|   ||---'|    ,---||        |   ||`---.|   ||    ,---||   |
`---'`---'`   '`---'`    `---^`---'    `--' ``---'|---'`---'`---^`---|
                                                  |              `---'
 */

/* 
  Font family flex 
  https://blog.greenroots.info/3-quick-ways-to-add-fonts-to-your-react-app 
  Choose fonts from https://fonts.google.com/
*/

.display{
  font-family: 'Helvetica', cursive;
  padding: 20px;
}
